.cont {
    margin: 30px 50px 50px;
    text-align: center;
}

.list {
    margin-top: 20px;
}

.map {
    margin-top: 20px;
}

i.bi {
    display: none;
}

tr:hover i.bi {
    display: inline-block;
}
.second {
    display: inline;
}

.card-body {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: auto;
}

.iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}