.cont {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 80px 300px 300px;
    text-align: center;
}

.list {
    margin-top: 20px;
}

.map {
    margin-top: 20px;
}

i.bi {
    display: none;
}

tr:hover i.bi {
    display: inline-block;
}

.card-body {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: auto;
}

.iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}