.contain {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    margin: 50px 500px;
    text-align: center;
}

.card {
    margin: 20px;
}

.card-body {
    margin: 20px;
}

#more {
    text-align: left;
}


.form-switch {
    margin-left: 20px;
}

#location {
    display: none;
}
