<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet"/>
    <link href="css/ct-navbar.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Admin</title>
</head>

<!--Navbar has to be replaced. Only to get first view-->
<div class="container">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="bi-menu-button "></span>
        </button>
        <a class="navbar-brand" href="#">EmployeeManager</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">History</a>
                </li>
            </ul>
        </div>
        <a class="pull-right" href="#"><i class="bi-arrow-right-circle"></i> Logout</a>
    </nav>
    <br><br>
</div>

<body>

<div class="cont container-fluid">
    <h1 class="badge-secondary">
        Employee List
    </h1>
    <form>
        <div class="form-group btn-toolbar mb-3" role="toolbar" aria-label="Toolbar for list">
            <div class="form-control btn-group mr-2 align-items-center" role="group" aria-label="Buttongroup">
                <button type="button" class="btn">
                    <span class="bi-plus-lg"></span>
                </button>
                <button type="button" class="btn">
                    <span class="bi-trash"></span>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped table-bordered">
        <thead class="table-header">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Available</th>
            <th scope="col">On Site</th>
            <th scope="col">Location</th>
            <th scope="col">CheckIn</th>
            <th scope="col">CheckOut</th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
            <th scope="row">1</th>
            <td>Elias Goller</td>
            <td>available</td>
            <td>on site</td>
            <td>48,57 13,46</td>
            <td>05.06.2021-12:00</td>
            <td>still here</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Stefanie Gürster</td>
            <td>not available</td>
            <td>no</td>
            <td>48,57 12,99</td>
            <td>05.06.2021-9:00</td>
            <td>5.06.2021-13:00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Johannes Garstenauer</td>
            <td>not available</td>
            <td>on site</td>
            <td>48,57 13,46</td>
            <td>05.06.2021-12:00</td>
            <td>still here</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/ct-navbar.js"></script>
</body>

<style>
    .cont {
        display: flow;
        margin-top: 50px;
    }
</style>
</html>