<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link href="../../static/css/adminCreateUserAccount.css" th:href="@{/css/adminCreateUserAccount.css}" rel="stylesheet" media="screen" />
    <title>Create User</title>
</head>

<body>
        <div class="container">
            <!--Put both forms in one row-->
            <div class="row">
            <div class="col">

                <!--First form-group for the elements needed to create the account-->
                <div class="form-group col-md" id="createAccount">
                    <h2 class="text-center">Create User-Account</h2>
                    <!--Form, which includes the input fields that will be sent on submit (for creating account)-->
                    <form id="inputFieldsForm" class="needs-validation"  onsubmit="return validate(event);">
                        <!--form-group for the user's first name-->
                        <div class="form-group col">
                            <label for="firstName">First Name</label>
                            <!--Use an input group so an icon can be added to the input field-->
                            <div class="input-group">
                                <input id="firstName" type="text" class="form-control" placeholder="First Name" required>
                                <div class="invalid-feedback">Please enter the employee's first name.</div>
                                <!--<div class="input-group-append">
                                    <span class="input-group-addon bi-file-person" id="icon1"></span>
                                </div>-->
                            </div>
                        </div>
                        <!--form-group for the user's last name-->
                        <div class="form-group col mx-auto">
                            <label for="lastName">Last Name</label>
                            <!--Use an input group so an icon can be added to the input field-->
                            <div class="input-group">
                                <input id="lastName" type="text" class="form-control" placeholder="Last Name" required>
                                <div class="invalid-feedback">Please enter the employee's last name.</div>
                                <!--<div class="input-group-append">
                                    <span class="input-group-addon bi-file-person" id="icon2"></span>
                                </div>-->
                            </div>
                        </div>
                        <!--Input field for user name. This input field is optional as a user name can be
                        generated using JavaScript if the field is left empty-->
                        <div class="form-group col">
                            <label for="userName">User Name</label>
                            <input id="userName" type="text" class="form-control" placeholder="User Name (optional)">
                        </div>

                        <!--Selecting the role from a dropdown-menu:-->
                        <div class="form-group col">
                            <label for="firstName">Role in Company</label>
                            <div class="dropdown">
                                <!-- data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="selectRoleDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">>
                                    Select Role
                                </button>
                                <!--This is for testing purposes. Later on, we will fill the dropdown-menu with
                                elements from the database, which have been created by the admin-->
                                <div class="dropdown-menu" aria-labelledby="selectRoleDropdown">
                                    <!-- <a class="dropdown-item" href="#">CEO</a> -->
                                    <!-- <a class="dropdown-item" href="#">Clerk</a> -->
                                    <!-- <a class="dropdown-item" href="#">Head of Department</a> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-check form-switch">
                            <input class="checkbox form-check-input col" type="checkbox" id="isAdmin">
                            <label class="form-check-label col" for="isAdmin" id="isAdminLabel">
                                Admin-Privileges
                            </label>
                        </div>

                        <div class="form-group col">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input id="password" type="password" class="form-control" placeholder="Password" required>
                                <div class="invalid-feedback">Please enter a password</div>
                                <div class="input-group-append">
                                    <button class="input-group-btn" type="button" id="showHidePassword" onclick="showOrHidePassword()" onkeyup="checkIfPasswordsMatch()">
                                        <i class="bi-eye-slash" id="passwordButtonIcon"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="passwordRepeated">Repeat Password</label>
                            <input id="passwordRepeated" type="password" class="form-control" placeholder="Repeat Password" onkeyup="checkIfPasswordsMatch()" required>
                            <div class="invalid-feedback">Please repeat the password</div>
                        </div>


                        <!--Button to submit the form-->
                        <div class="d-grid col-12">
                            <button class="btn btn-primary btn-sm center-block mx-auto" type="submit" id="createAccountButton">Create Account</button>
                        </div>
                    </form>

                    <!--show alert if username already exists-->
                    <div class="alert alert-danger" id="userNameExistentAlert">
                        <strong>This username exists already.</strong>
                    </div>

                    <!--show alert if passwords don't match-->
                    <div class="alert alert-danger" id="passwordsDontMatchAlert">
                        <strong>The entered passwords don't match.</strong>
                    </div>

                    <!--show alert if no role has been selected -->
                    <div class="alert alert-danger" id="noRoleSelectedAlert">
                        <strong>Please select a role.</strong>
                    </div>
                </div>
                </div>

                <!--Elements needed to create a role-->
                <div class="col-md-5">
                <div class="form-group" id="createRole">
                    <h2 class="text-center">Create Role</h2>
                    <!--Form used to submit the content of a single input field,
                    which is used to describe the name of a role-->
                  <!--  <form id="inputFieldsForRoleForm" class="needs-validation"> -->
                        <div class="row">
                            <div class="col">
                                <div class="form-group col mx-auto">
                                    <label for="roleCreate">Role</label>
                                    <input id="roleCreate" type="text" class="form-control" placeholder="Role Name" required>
                                </div>
                            </div>
                        <div class="col-md-5">
                            <!--Button to submit content of the form-->
                            <div class="form-group col mx-auto">
                                <button class="btn btn-primary btn-sm center-block mx-auto" type="button" onclick="addRole()" id="createRoleButton">Create Role</button>
                            </div>
                        </div>
                        </div>
                  <!--  </form> -->

                    <!--show alert if role already exists-->
                    <div class="alert alert-danger mx-auto" id="roleAlreadyExistentAlert">
                        <strong>This role exists already.</strong>
                    </div>
                </div>
                    </div>
        </div>
        </div>

        <script src="/webjars/jquery/3.0.0/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

<script>
    let passwordInputField = $('#password');
    let passwordRepeatedInputField = $('#passwordRepeated');
    let roleSelected = false;
    let passwordsDidntMatchOnLastSubmit = false;

    // Test for what an automatic generation of user names could look like.
    // Note: In the final version, this requires checking the database to find out
    // how many employees have the username and concatenate the number at the end.
    // This ensures the username's uniqueness.
    function validate(event) {
        let userNameInput = $('#userName');
        let firstName = $('#firstName');
        let lastName = $('#lastName');

        // TODO: If username exists, fade out the alert. Implementation depends on how we handle this in the backend
        // TODO: (in which way does the back-end inform the front-end about the duplicate username?).
        // userNameExistsAlert.fadeOut(200);

        if (userNameInput.val() === "" || userNameInput.val() === null) {
            userNameInput.val(firstName.val() +  lastName.val() + "01");

            alert(userNameInput.val());
        }

        // Stop submission if passwords don't match
        if (passwordInputField.val() !== passwordRepeatedInputField.val()) {
            passwordsDontMatchAlert.fadeIn(200);
            event.preventDefault();
            event.stopPropagation();
            passwordRepeatedInputField.val("");
            passwordsDidntMatchOnLastSubmit = true;
            return false;
        }

        // Stop submission process if no role has been selected from the dropdown-menu
        if (!roleSelected) {
            noRoleSelectedAlert.fadeIn(200);
            event.preventDefault();
            event.stopPropagation();
            repeatedPasswordInputField.val("");
            return false;
        }

        return true;
    }

    // Whenever a dropdown-item is selected (clicked on), the dropdown-menu assumes
    // its text in order to show which role was selected.
    $( ".dropdown-item" ).each(function() {
        $(this).on("click", function() {
            $('#selectRoleDropdown').text($(this).text());
            roleSelected = true;
            noRoleSelectedAlert.fadeOut(0);
        });
    });

    // Don't display alerts at the start
    let userNameExistsAlert = $('#userNameExistentAlert')
    let roleAlreadyExistentAlert = $('#roleAlreadyExistentAlert')
    let passwordsDontMatchAlert = $('#passwordsDontMatchAlert')
    let noRoleSelectedAlert = $('#noRoleSelectedAlert')



    // Determines whether to show or hide the password
    let passwordVisible = false;

    // Show or hide the password. Is called 'onclick' and thus only changes whenever the user clicks on the button.
    // The icon is determined by '#passwordButtonIcon' and as a result we have to change the used class to determine
    // what the icon should look like. 'bi-eye-slash' is a closed eye and represents that the password is not shown
    // in text, whereas 'bi-eye' means just that.
    function showOrHidePassword() {
        if (passwordVisible) {
            passwordVisible = false;
            passwordInputField.attr("type", "password");
            $('#passwordButtonIcon').removeClass('bi-eye').addClass('bi-eye-slash');
        } else {
            passwordInputField.attr("type", "text");
            $('#passwordButtonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
            passwordVisible = true;
        }
    }

    // Called 'onkeyup' for the password input fields. In case the passwords match, the alert is lifted.
    // This only applies if the alert is currently being display, which in turn only happens if the admin
    // tried to submit the form but the passwords were different from one another.
    function checkIfPasswordsMatch() {
        if (passwordsDidntMatchOnLastSubmit === true && passwordInputField.val() === passwordRepeatedInputField.val()) {
            passwordsDontMatchAlert.fadeOut(200);
        }
    }

    window.onload = function() {
        passwordsDontMatchAlert.fadeOut(0);
        noRoleSelectedAlert.fadeOut(0);
        roleAlreadyExistentAlert.fadeOut(0);
        userNameExistsAlert.fadeOut(0);
    }


    // Local list of all created roles:

    let roleInputField = $('#roleCreate');
    let locallyCreatedRoles = [];

    function addRole() {
        locallyCreatedRoles.push(roleInputField.val());
        roleInputField.val("");
        for (var i = 0; i < locallyCreatedRoles.length; i++) {
            let element = document.createElement("a");
            element.className = "dropdown-item";
            element.href = "#";
            element.innerText = locallyCreatedRoles[i];
            element.onclick = function() {
                    $('#selectRoleDropdown').text($(this).text());
                    roleSelected = true;
                    noRoleSelectedAlert.fadeOut(0);
            }
            document.querySelector(".dropdown-menu").appendChild(element);
        }
    }


</script>