<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>EmployeeManagement</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>

<!--Navbar has to be replaced. Only to get first view-->
<nav class="navbar navbar-expand-lg badge-dark">
    <!--Logo-->
    <a class="navbar-brand" href="#">EmployeeManager</a>

    <!--NavigationBar-->
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="employeeView.html" th:href="@{/employeeView}">HomePage</a>

                <a class="nav-link" href="#">History</a>
            </li>
        </ul>
    </div>
</nav>

<body>
<div class="home">
    <h1 class="d-flex badge-secondary">
        Home Page
    </h1>
</div>
<div class="contain container-fluid d-flex flex-column flex-fill">
    <form class="justify-content-center">
        <div class="row">
            <div class="message col-sm-5 card shadow vh-100">
                <div class="message-topic badge-secondary">
                    <h2>Message</h2>
                </div>
                <!--Show saved message-->
                <div class="saved-message form-group">
                    <label class="form-control" id="savedMsg" type="text">Here should appear a message.</label>
                </div>
                <!--Text field to leave a message-->
                <div class="input-group h-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Notification</span>
                    </div>
                    <textarea class="form-control" aria-label="With textarea" placeholder="Leave a message..."
                              id="message"></textarea>
                </div>

                <!--Message has to short. The minimum amount of characters should be 10.-->
                <div class="alert alert-danger mx-auto" id="alertMessageToShort">
                    <div class="align-text-bottom">
                        <i class="bi bi-exclamation-circle"></i>
                        <strong>Message is to short. Please enter 10 or more characters.</strong>
                    </div>
                </div>

                <!--Options for message-->
                <div class="message-util form-group">
                    <button class=" btn btn-primary btn-lg center-block" type="submit" id="save-button">
                        Save
                    </button>
                    <button class="btn btn-primary btn-lg center-block" type="reset" id="delete-message">
                        Delete
                    </button>
                </div>
            </div>


            <!--Option toolbar-->
            <div class="col-sm-5">
                <div class="state card shadow">
                    <div class="badge-secondary">
                        <h2>State</h2>
                    </div>
                    <div class="options">
                        <div class="available d-table custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="availableSwitch">
                            <label class="custom-control-label" for="availableSwitch">Availability</label>
                        </div>
                        <hr>
                        <div class="location d-table custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="locationSwitch">
                            <label class="custom-control-label" for="locationSwitch">On Site</label>
                        </div>
                    </div>
                </div>

                <!--View latest chronic items-->
                <section class="section">
                    <div class="container card shadow">
                        <div class="badge-secondary">
                            <h2>History</h2>
                        </div>
                        <div class="timeline">
                            <div class="row mt-3">
                                <div class="col-sm-6 pl-5">
                                    <div class="card-item card shadow">
                                        <div class="card-header text-left badge-secondary">
                                            Login
                                        </div>
                                        <div class="card-body text-left">
                                            First Login
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 pl-5">
                                    <div class="card-item card shadow">
                                        <div class="card-header text-left badge-secondary">
                                            Changed Availability
                                        </div>
                                        <div class="card-body">
                                            Is now available.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 pl-5">
                                    <div class="card-item card shadow">
                                        <div class="card-header text-left badge-secondary">
                                            Changed Availability
                                        </div>
                                        <div class="card-body">
                                            Is now available.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6 pl-5">
                                    <div class="card-item card shadow ">
                                        <div class="card-header text-left badge-secondary">
                                            Changed Availability
                                        </div>
                                        <div class="card-body">
                                            Is now available.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end timeline-->
                        <div class="text-right align-text-bottom pt-5">
                            <a href="#">See more <i class="bi bi-arrow-right-circle"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </form>
</div>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script lang="JavaScript" type="text/javascript">

    // Button in order to save the new message.
    var saveButton = document.getElementById("save-button");
    var message = document.getElementById("message").value;

    // Exchange the old message to the new one, written in the inputfield.
    $("#savedMsg").text(message);

    function validLength() {
        errorMessage.text("Fehler");
        let cutMessage = message.trim();
        var minLength = 10;

        //Message is to short. No message action has to be done by clicking the delete button.
        if (cutMessage.length < minLength) {
            document.getElementById('errorMessage').innerHTML = "Message is to short."
        }
    };

</script>

<footer>
    <div class="footer">
        <div class="text-center bg-dark text-light p-6" id="footer">
            <p>© 2021 Copyright: Group 9</p>
        </div>
    </div>
</footer>

<style>
    .contain {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 20px 20px 20px;
        text-align: center;
    }

    .message {
        display: flow;
        margin: 20px;
    }

    .saved-message {
        margin-top: 20px;
    }

    .message-util {
        margin: 20px;
    }

    .state {
        margin: 10px;
    }

    .options {
        margin: 20px;
    }

    .section {
        margin: 10px;
    }

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 20px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        background-color: gray;
        width: 6px;
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: -3px;
    }

    .card-item::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        left: 0;
        background-color: #61D4E8;
        border: 4px solid #2DA1E7;
        top: 15px;
        border-radius: 50%;
    }


</style>

</html>