<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>EmployeeManagement</title>
</head>
<nav>
    <div th:replace="'navbar'"></div>
</nav>

<body>
<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Notification</span>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="row">
        <div class="form-group col-lg-5">
            <label>Availability</label>
            <input class="btn btn-primary btn-lg center-block " type="submit" value="#" id="available">
        </div>
        <div class="form-group col-lg-5">
            <label>Location</label>
            <input class="btn btn-primary btn-lg center-block " type="submit" value="#" id="place">
        </div>
    </div>
</form>
</body>

<footer>
    <div th:insert="'footer'"></div>
</footer>

</html>