<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/history.css" th:href="@{/css/history.css}">
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}"
          rel="stylesheet"/>
    <title>History</title>
</head>

<nav>
    <div class="row">
        <div th:insert="'menubar'"></div>
    </div>
</nav>

<body>
<div class="container">
    <!--Card contains the timeline.-->
    <!--
    <div class="card shadow">
        <div class="card-header bg-secondary text-light">
            <h1 id="timeline">History</h1>
            <div class="form-inline">
                <form th:action="@{/my-history/download/json}" th:method="get">
                    <button class="btn btn-primary" type="submit">JSON <i class="bi bi-download"></i></button>
                </form>
                <form th:action="@{/my-history/download/xml}" th:method="get">
                    <button class="btn btn-primary" type="submit">XML <i class="bi bi-download"></i></button>
                </form>
            </div>
        </div>
        -->
    <!--Timeline vertically shows every event that is happening during using the web application.-->
    <!--
        <ul class="timeline text-left" th:action="@{/my-history}" th:method="get">
            <li th:each="workSession : ${workSessionsList}">
                <div class="timeline-panel">
                    <div class="timeline-heading text-muted form-check-inline">
                        <span> <i class="bi bi-clock"></i> Time :</span>
                        <span th:text="${' ' + #dates.dayOfWeekName(workSession.startTime) + ' '
                            + #dates.format(workSession.startTime, 'HH:mm a') + ' '
                            + #dates.format(workSession.startTime, 'dd.MM.yyyy') + ' - '}"></span>
                        <div th:if="${workSession.stopTime == null}">
                            <span> Still here</span>
                        </div>
                        <div th:unless="${workSession.stopTime == null}">
                                <span th:text="${' ' + #dates.dayOfWeekName(workSession.startTime) + ' '
                                + #dates.format(workSession.startTime, 'HH:mm a') + ' '
                                + #dates.format(workSession.startTime, 'dd.MM.yyyy')}"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="timeline-body">
                        <div class="form-check-inline">
                            <span><i class="bi bi-mailbox"></i> Current message: "</span>
                            <span th:text="${' ' + workSession.textStatus}"></span><span>"</span>
                        </div>
                        <br>
                        <div class="form-check-inline">
                            <span><i class="bi bi-person-bounding-box"></i> Logged in as: </span>
                            <a th:text="${' ' + workSession.userName}"></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    -->
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered table-condensed table-responsive">
                <thead class="table-header bg-dark text-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Username</th>
                    <th scope="col">Available</th>
                    <th scope="col">On Site</th>
                    <th scope="col">Location</th>
                    <th scope="col">CheckIn</th>
                    <th scope="col">CheckOut</th>
                    <th scope="col">Message</th>
                </tr>
                </thead>
                <tbody>
                <form th:action="@{/admin/employees/work-sessions}" method="get" th:object="${workSessionsList}"
                      th:method="get">
                    <tr th:each="workSession : ${workSessionsList}">
                        <td scope="row">
                            <button class="btn" type="submit" th:action="@{/admin/employees/work-sessions/__${workSession.getUserName()}__/__${workSession.getId()}__}"><i class="bi bi-trash"></i> </button>
                        </td>
                        <td th:text="${workSession.userName}"></td>
                        <td th:text="${workSession.available}"></td>
                        <td id="onSite" th:text="${workSession.onSite}"></td>
                        <td>Location</td>
                        <td th:text="${#dates.format(workSession.startTime, 'dd.MM.yyyy HH:mm')}"></td>
                        <td>
                            <div th:if="${workSession.stopTime == null}">
                                <span>still here</span>
                            </div>
                            <div th:unless="${workSession.stopTime == null}">
                                <span th:text="${#dates.format(workSession.stopTime, 'dd.MM.yyyy HH:mm')}"></span>
                            </div>
                        </td>
                        <td th:text="${workSession.textStatus}"></td>
                    </tr>
                </form>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

<!--Include the footer that contains the copyright info-->
<footer>
    <div th:insert="'footer'" class="embeddedFooter"></div>
</footer>
</html>
