<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/history.css" th:href="@{/css/history.css}">
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}"
          rel="stylesheet"/>
    <title>History</title>
</head>

<nav>
    <div class="row">
        <div th:insert="'menubar'"></div>
    </div>
</nav>

<body>
<div class="container">
    <!--Card contains the timeline.-->
    <div class="card shadow">
        <div class="card-header bg-secondary text-light">
            <h1 id="timeline">History</h1>
            <div class="form-inline">
                <form th:action="@{/my-history/download}" th:method="get">
                    <button class="btn btn-primary" type="submit">JSON <i class="bi bi-download"></i></button>
                </form>
                <div>
                    <button class="btn btn-primary" type="submit">CSV <i class="bi bi-download"></i></button>
                </div>
            </div>
        </div>
        <!--Timeline vertically shows every event that is happening during using the web application.-->
        <ul class="timeline text-center" th:action="@{/my-history}" th:method="get">
            <li th:each="workSession : ${workSessionsList}">
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h3 class="panel-title">Login</h3>
                        <span><i class="bi bi-clock"></i></span>
                        <span class="text-muted" th:text="${#dates.format(workSession.startTime, 'HH:mm a') + ' '
                            + #dates.dayOfWeekName(workSession.startTime) + ' '
                            + #dates.format(workSession.startTime, 'dd.MM.yyyy')}"> 10:14 am</span>
                    </div>
                    <div class="timeline-body">
                        <!--TODO: need to add href-->
                        <span>Logged in as </span><a href="#" th:text="${workSession.userName}"></a>
                    </div>
                </div>
                <div th:if="${workSession.stopTime != null}">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h3 class="panel-title">Logout</h3>
                            <span><i class="bi bi-clock"></i></span>
                            <span class="text-muted" th:text="${#dates.format(workSession.stopTime, 'HH:mm a') + ' '
                            + #dates.dayOfWeekName(workSession.stopTime) + ' '
                            + #dates.format(workSession.stopTime, 'dd.MM.yyyy')}"></span>
                        </div>
                        <div class="timeline-body">
                            <p>Finished work.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>

<!--Include the footer that contains the copyright info-->
<footer>
    <div th:insert="'footer'" class="embeddedFooter"></div>
</footer>
</html>
