<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Login</title>
</head>

<nav>
  <div class="row">
    <div th:insert="'menubar'"></div>
  </div>
</nav>

<body>

 <div>
   <h1>Login</h1>
 </div>

<!--Here, our input-forms for the login are specified-->
  <form>
    <div class="row"> <!--But each input field into their own row-->
      <div class="form-group col-sm-5"> <!--manipulates the width of the elements-->
        <label>User Name</label>
        <input id="userName" class="form-control" placeholder="Enter your User Name">
      </div>
    </div>

    <div class = "row"> <!--But each input field into their own row-->
      <div class="form-group col-sm-5"> <!--manipulates the width of the elements-->
        <label>Password</label>
        <input type="password" class="form-control" placeholder="Enter your Password">
      </div>
    </div>
  </form>

  <div class="row"> <!--Put the login and signup buttons into their own row-->
    <input class="btn btn-primary btn-lg center-block " type="submit" value="Login" id="loginButton">
    <input class="btn btn-primary btn-lg center-block" type="submit" value="Signup" id="signupButton">
  </div>
</body>

<!--Include the footer that contains the copyright info-->
<footer>
  <div th:insert="'footer'"></div>
</footer>
</html>