<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Set Password</title>
</head>

<nav>
  <div class="row">
    <div th:insert="'menubar'"></div>
  </div>
</nav>

<body>
<div>
  <h1 class="text-center">Choose Password</h1>
</div>

<div class="container">
  <form id="inputFieldsForm" class="needs-validation" method="post">
    <div class="row">
      <div class="form-group col-sm-5 mx-auto">
        <label for="password">Password</label>
        <div class="input-group">
        <input id="password" type="password" class="form-control" placeholder="Password" onkeyup="determinePasswordStrength()" required>
          <div class="input-group-append">
            <button class="input-group-btn" type="button" id="showHidePassword" onclick="showOrHidePassword('password')">
              <i class="bi-eye-slash" id="passwordButtonIcon"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-5 mx-auto">
        <label for="passwordRepeated">Repeat Password</label>
        <div class="input-group">
          <input id="passwordRepeated" type="password" class="form-control" placeholder="Password" onkeyup="determinePasswordStrength()" required>
          <div class="input-group-append">
            <button class="input-group-btn" type="button" id="showHideRepeatedPassword" onclick="showOrHidePassword('passwordRepeated')">
              <i class="bi-eye-slash" id="repeatedPasswordButtonIcon"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="progress mx-auto" style="height: 20px;" onkeyup="checkPasswordStrength()">
        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="passwordStrengthBar" style="width: 40px;"></div>
      </div>
    </div>

    <div class="d-grid col-5 mx-auto">
      <button class="btn btn-primary btn-lg center-block mx-auto d-block" type="submit" id="submitPassword" onclick="validate()">Submit Password</button>
    </div>
  </form>

  <div class="alert alert-danger mx-auto" id="errorMessage">
    <strong>Passwords must match</strong>
  </div>

  <div class="alert alert-danger mx-auto" id="passwordTooShort">
    <strong>Passwords must be at least 8 characters long.</strong>
  </div>

  <div class="alert alert-danger mx-auto" id="missingForHigherPasswordStrength">
    <strong>Your password must contain upper- and lowercase letters.</strong>
  </div>
</div>
</body>

<!--Include the footer that contains the copyright info-->
<footer>
  <div th:insert="'footer'" class="embeddedFooter"></div>
</footer>


<script>
  // The error message (passwords not matching) should not be shown when loading the view
  let errorMessage = $('#errorMessage');
  errorMessage.fadeOut(0);

  let passwordStrengthBar = $('#passwordStrengthBar');
  passwordStrengthBar.addClass('bg-warning');

  // The passwords have to be checked for being identical
  let passwordInputField = $('#password');
  let repeatedPasswordInputField = $('#passwordRepeated');

  // Determines whether to show or hide the password
  let passwordVisible = false;
  let repeatedPasswordVisible = false;

  //Fade out alert that is shown when the view is loaded
  let missingForHigherPasswordStrength = $('#missingForHigherPasswordStrength');
  missingForHigherPasswordStrength.fadeOut();

  // Show or hide the password. Is called 'onclick' and thus only changes whenever the user clicks on the button.
  // The icon is determined by '#passwordButtonIcon' and as a result we have to change the used class to determine
  // what the icon should look like. 'bi-eye-slash' is a closed eye and represents that the password is not shown
  // in text, whereas 'bi-eye' means just that.
  function showOrHidePassword(passwordInputFieldToHide) {
    // We check whether the click happened on the button related to the password-input or the repeated-password-input
    if (passwordInputFieldToHide === "password") {
      if (passwordVisible) {
        passwordVisible = false;
        $('#password').attr("type", "password");
        // $('#showHidePassword').removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
        passwordInputField.attr("type", "password");
        $('#passwordButtonIcon').removeClass('bi-eye').addClass('bi-eye-slash');
      } else {
        $('#password').attr("type", "text");
        //$('#showHidePassword').removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
       passwordInputField.attr("type", "text");
        $('#passwordButtonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
        passwordVisible = true;
      }
    } else {
      // We do the same thing for the repeated password:
      if (repeatedPasswordVisible) {
        repeatedPasswordVisible = false;
        $('#passwordRepeated').attr("type", "password");
        // $('#showHidePassword').removeClass('glyphicon-eye-open').addClass('glyphicon-eye-close');
        repeatedPasswordInputField.attr("type", "password");
        $('#repeatedPasswordButtonIcon').removeClass('bi-eye').addClass('bi-eye-slash');
      } else {
        $('#passwordRepeated').attr("type", "text");
        //$('#showHidePassword').removeClass('glyphicon-eye-close').addClass('glyphicon-eye-open');
        repeatedPasswordInputField.attr("type", "text");
        $('#repeatedPasswordButtonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
        repeatedPasswordVisible = true;
      }
    }
  }

  // Setup variables used to determine the password strength, hide the alert, which is displayed if the password
  // is too shor and set the progress bar's (passwordStrengthBar) width to 0, so that the bar isn't visible.
  let passwordStrength = 0
  let alertIfPasswordIsTooShort = $('#passwordTooShort');
  alertIfPasswordIsTooShort.fadeOut(0);
  passwordStrengthBar.css('width', 0+'%').attr('aria-valuenow', 0);
  let isLongEnough = false;
  let containsUppercaseAndLowercase = false;
  let containsNumbers = false;
  let containsSpecialCharacters = false;

  // Use RegEx patterns to determine the password strength
  // We check whether the password is at least 8 characters long, contains uppercase and
  // lowercase letters, contains numbers and special characters. If any of those properties
  // are fulfilled, the progress bar (passwordStrengthBar) increases in value and changes its
  // color to suggest a safer password.
  function determinePasswordStrength() {
    let password = $('#password').val();
    isLongEnough = false;
    containsUppercaseAndLowercase = false;
    containsNumbers = false;
    containsSpecialCharacters = false;
    passwordStrength = 0;

    // Length should be higher than or equal to 8
    if (password.length >= 8) {
      isLongEnough = true;
      alertIfPasswordIsTooShort.fadeOut(200);
    } else {
      alertIfPasswordIsTooShort.fadeIn(200);
    }

    // The password should contain lowercase and uppercase letters
    if (password.match(/([a-zA-Z])+/) && (password.match(/[a-z]+/) && password.match(/[A-Z]+/))) {
      containsUppercaseAndLowercase = true;
    }

    // The password should contain at least one number
    if (password.match(/[0-9]+/)) {
      containsNumbers = true;
    }

    // The password should contain a special character
    if (password.match(/[!+*.:,;_"§$%&/()=?{}@]+/)) {
      containsSpecialCharacters = true;
    }

    // Determine the overall strength
    passwordStrength = isLongEnough + containsUppercaseAndLowercase + containsNumbers + containsSpecialCharacters;

    if (passwordStrength === 1) {
      passwordStrengthBar.removeClass('bg-warning').removeClass('bg-success').addClass('bg-danger'); // color: red
      passwordStrengthBar.css('width', 20 + '%').attr('aria-valuenow', 20); // progress bar is almost empty
    } else if (passwordStrength >= 2 && passwordStrength < 3) {
      passwordStrengthBar.removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning'); // color: orange/yellow
      passwordStrengthBar.css('width', 35 + '%').attr('aria-valuenow', 35);
    } else if (passwordStrength >= 3 && passwordStrength < 4) {
      passwordStrengthBar.removeClass('bg-danger').removeClass('bg-success').addClass('bg-warning'); // color: orange/yellow
      passwordStrengthBar.css('width', 65 + '%').attr('aria-valuenow', 65);
    } else if (passwordStrength >= 4) {
      passwordStrengthBar.removeClass('bg-warning').removeClass('bg-danger').addClass('bg-success'); // color: green
      passwordStrengthBar.css('width', 100 + '%').attr('aria-valuenow', 100); // progress bar is full
    }

    // In case the password length is shorter than 8 characters, the passwordStrengthBar is covered in red no matter
    // the security determined above.
    if (password.length < 8) {
      passwordStrengthBar.removeClass('bg-warning').removeClass('bg-success').addClass('bg-danger');
    }
  }


  // When clicking the login button, we check whether both entered passwords are identical
  function validate() {
    // Get the passwords as Strings
    let password = String(passwordInputField.val());
    let repeatedPassword = String(repeatedPasswordInputField.val());

    // If the passwords don't match, stop the submission process, delete the input in the repeatedPasswordInputField
    // and fade in the error message.
    if (password != repeatedPassword) {
      event.preventDefault();
      event.stopPropagation();
      errorMessage.fadeIn(200);
      repeatedPasswordInputField.val("");
      return false;
    } else if (password.length < 8 || passwordStrength < 4) {
      event.preventDefault();
      event.stopPropagation();
      repeatedPasswordInputField.val("");

      missingForHigherPasswordStrength.fadeIn(200);
      if (!containsUppercaseAndLowercase) {
        missingForHigherPasswordStrength.text("Your password must contain upper- and lowercase letters.");
      } else if(!containsNumbers) {
        missingForHigherPasswordStrength.text("Your password must contain numbers.");
      } else if (!containsSpecialCharacters) {
        missingForHigherPasswordStrength.text("Your password must contain special characters.");
      }

      return false;
    }
    return true;
  }
</script>

<style>
  .embeddedFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16pt;
    margin-bottom: -10px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-group {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .alert-danger {
    width: 30%;
    position: center;
    margin-top: 20px;
  }

  #submitPassword {
    margin-bottom: 5px;
    width: 18%;
    min-width: 220px;
    position: center;
    text-align: center !important;
    margin-top: 50px;
  }

  #password {
    padding: 0 40px;
    background: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z' clip-rule='evenodd'/></svg>");
    background-size: 16px 16px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
  }

  #passwordRepeated {
    padding: 0 40px;
    background: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z' clip-rule='evenodd'/></svg>");
    background-size: 16px 16px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
  }


  input {
    padding: 10px 30px;
  }

  h1 {
    margin-top: 20px;
  }

  .progress {
    width: 50%;
    min-width: 300px;
    margin-top: 30px;
  }

  #passwordTooShort {
    margin-top: 20px;
  }
</style>
</html>