<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link href="/webjars/bootstrap/5.0.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/menuStyles.css">
    <title>Menubar</title>
</head>
<body>
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<div class="navbar-static-top">
    <nav class="navbar navbar-expand-lg badge-dark">
        <!--Logo-->
        <a class="navbar-brand" href="#">EmployeeManager</a>

        <!--NavigationBar-->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="employeeView.html" th:href="@{/employeeView.html}">HomePage</a>

                    <a class="nav-link" href="#">History</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>