<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/webjars/bootstrap/5.0.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="../../static/css/userAccountPage.css" th:href="@{/css/userAccountPage.css}" rel="stylesheet" media="screen" />
  <title>User Settings</title>
</head>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<nav>
  <div class="row">
    <div th:insert="'menubar'"></div>
  </div>
</nav>


<body>
<div class="container">
  <!--Put both forms in one row-->
  <div class="row" id="border">
    <!--First form-group for the elements needed to create the account-->
    <div class="form-group col-md" id="userAccount">
      <h2 class="text-center">Create User-Account</h2>

      <!--Form, which includes the input fields that will be sent on submit (for changing account/user settings)-->
      <form id="inputFieldsForm" class="needs-validation" th:action="@{/account/edit/__${userCredentials.userName}__}" th:object="${userCredentials}" method="post"><!--th:action="${userCredentials.isAdmin()} == 'true' ? '@{/admin/account/edit/__${(selectedUser)}__}' : '@{/account/edit}'" th:object="${userCredentials}" method="post"> -->

        <!-- form-group for the user's first name-->
        <div class="form-group col mx-auto">
          <label for="firstName">First Name</label>
          <!--Use an input group so an icon can be added to the input field-->
          <div class="input-group">
            <input id="firstName" type="text" class="form-control" placeholder="First Name" th:field="${userCredentials.firstName}" required readonly>
            <div class="invalid-feedback">Please enter the employee's first name.</div>
            <!--<div class="input-group-append">
                <span class="input-group-addon bi-file-person" id="icon1"></span>
            </div>-->
          </div>
        </div>
        <!--form-group for the user's last name-->
        <div class="form-group col mx-auto">
          <label for="lastName">Last Name</label>
          <!--Use an input group so an icon can be added to the input field-->
          <div class="input-group">
            <input id="lastName" type="text" class="form-control" placeholder="Last Name" th:field="${userCredentials.lastName}" required readonly>
            <div class="invalid-feedback">Please enter the employee's last name.</div>
            <!--<div class="input-group-append">
                <span class="input-group-addon bi-file-person" id="icon2"></span>
            </div>-->
          </div>
        </div>
        <!--Input field for user name. -->
        <div class="form-group col mx-auto">
          <label for="userName">User Name</label>
          <input id="userName" type="text" class="form-control" placeholder="User Name" th:field="${userCredentials.userName}" required readonly>
        </div>

        <!--The isAdmin form-check is only enabled for admins-->
        <div class="form-check form-switch">
          <input class="checkbox form-check-input col mx-auto" type="checkbox" id="isAdmin" th:field="${userCredentials.admin}" disabled>
          <label class="form-check-label col mx-auto" for="isAdmin" id="isAdminLabel">
            Admin-Privileges
          </label>

          <!-- Work around to set the value to true in case an admin has navigated to this site     -->
          <!-- NOTE: {isAdmin} refers to the person who has called the site. So if the admin selects-->
          <!-- a user to edit, the value is true. If a user selects their own page, it's false      -->
          <div id="callerIsAdminValue" th:text="${isAdmin}"></div>

          <div id="selectedUserIsAdminVal" th:text="${userCredentials.admin}"></div>
        </div>


        <!--form-group for the user's last name-->
        <div class="form-group col mx-auto">
          <label for="role">Role</label>
          <!--Use an input group so an icon can be added to the input field-->
          <div class="input-group">
            <input id="role" type="text" class="form-control" placeholder="Role" th:field="${userCredentials.position}" required readonly>
            <div class="invalid-feedback">Please enter the employee's last name.</div>
          </div>
        </div>

        <!--The user needs to confirm their new password-->
        <div class="form-group col">
          <label for="p_password">Password</label>
          <div class="input-group">
            <span class="input-group-text bi-key" id="p_icon"></span>
            <input id="p_password" type="password" class="form-control" placeholder="Password" aria-describedby="icon" onkeyup="p_determinePasswordStrength(); p_showMissingPasswordCharacteristics();" th:field="${userCredentials.password}" required readonly>
            <div class="input-group-append">
              <button class="input-group-btn" type="button" id="p_showHidePassword" onclick="p_showOrHidePassword('password')">
                <i class="bi-eye-slash" id="p_passwordButtonIcon"></i></button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <i class="bi-check-circle text-success " style="font-size: 1.2rem;" id="p_icon3"></i>
          </div>
        </div>

        <div class="form-group col">
          <label for="p_passwordRepeated">Repeat Password</label>
          <div class="input-group mb-3">
            <span class="input-group-text bi-key" id="p_icon2"></span>
            <input id="p_passwordRepeated" type="password" class="form-control" placeholder="Repeat Password" aria-describedby="icon2" onkeyup="p_determinePasswordStrength()" required readonly>
            <div class="input-group-append">
              <button class="input-group-btn" type="button" id="p_showHideRepeatedPassword" onclick="p_showOrHidePassword('passwordRepeated')">
                <i class="bi-eye-slash" id="p_repeatedPasswordButtonIcon"></i></button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <i class="bi-check-circle text-success " style="font-size: 1.2rem;" id="p_icon4"></i>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <div class="progress mx-auto" style="height: 20px; background-color: rgba(200,200,200,0.2);" onkeyup="p_checkPasswordStrength()">
              <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" id="p_passwordStrengthBar" style="width: 40px;"></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col d-grid justify-content-center">
            <p id="p_passwordCharacteristicsText">Your password should match the following criteria:</p>
            <ul id="p_missingPasswordCharacteristics">
              <li id="p_element1">Password is too short.</li>
              <li id="p_element2">Must contain upper- and lowercase letters.</li>
              <li id="p_element3">Must contain numbers.</li>
              <li id="p_element4">Must contain special characters.</li>
            </ul>
          </div>
        </div>

        <!--
          <div class="d-grid col-5 mx-auto">
            <button class="btn btn-primary btn-lg center-block mx-auto d-block" type="submit" id="submitPassword" onclick="validate()">Submit Password</button>
          </div> -->

        <!-- Alert that's shown if the password is too short -->
        <div class="alert alert-danger mx-auto" id="p_passwordTooShort" role="alert">
          <strong>Passwords must be at least 8 characters long.</strong>
        </div>


        <!--Button to submit the form-->
        <div class="row">
          <button class="btn btn-success btn-lg center-block mx-auto" type="submit" id="submitButton">Submit Changes</button>
        </div>

        <!--Allow the user to edit their settings (default: display forms as readonly)-->
        <div class="row">
          <button class="btn btn-primary btn-lg center-block mx-auto" type="button" id="editButton" onclick="enableOrDisableEditing()">Edit</button>
        </div>
      </form>
      <form th:if="${status.getMessage() == 'admin_valid'}" th:action="@{/admin/account/delete/__${(selectedUser)}__}" method="get" >
        <div class="row">
          <button class="btn btn-danger btn-lg center-block mx-auto" type="submit" id="deleteButton">Delete User</button>
        </div>
      </form>
    </div>
  </div>

  <!--show alert if username already exists. NOT USED ANYMORE. USERNAME CANNOT BE CHANGED-->
  <div class="alert alert-danger mx-auto" id="userNameExistentAlert">
    <strong>This username exists already.</strong>
  </div>

  <!--show alert if passwords don't match-->
  <div class="alert alert-danger mx-auto" id="passwordsDontMatchAlert">
    <strong>The entered passwords don't match.</strong>
  </div>

  <!--show alert if no role has been selected -->
  <div class="alert alert-danger mx-auto" id="noRoleSelectedAlert">
    <strong>Please select a role.</strong>
  </div>
</div>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</body>

<script type="text/javascript" th:src="@{/js/passwordMeterScript.js}"></script>

<footer>
  <div th:insert="'footer'" class="embeddedFooter"></div>
</footer>


<script>
  let edit = $('#editButton');
  let submit = $('#submitButton');
  let passwordInputField = $('#p_password');
  let passwordRepeatedInputField = $('#p_passwordRepeated');
  let userName = $('#userName');
  let firstName = $('#firstName');
  let lastName = $('#lastName');
  let isAdmin = $('#isAdmin');
  let role = $('#role');
  let callerIsAdminValue = $('#callerIsAdminValue');
  let selectedUserIsAdminVal = $('#selectedUserIsAdminVal');
  let listOfMissingPasswordCharacteristics = $('#p_missingPasswordCharacteristics');
  let missingForHigherPasswordStrength = $('#p_missingForHigherPasswordStrength')
  let passwordStrengthBarContainer = $('.progress');
  let passwordCharacteristicsText = $('#p_passwordCharacteristicsText');


  // If the site was opened by an admin, they should be able to edit whether
  // the selected user is an admin / what their role/position is
  if (callerIsAdminValue.text() === "true") {
    isAdmin.val(true);
  } else {
    isAdmin.val(false);
  }

  // If the user is also an admin, set the switch to true
  if (selectedUserIsAdminVal.text() === "true") {
    isAdmin.attr('checked', true);
  }

  let isEditing = false;
  function enableOrDisableEditing() {
    submit.fadeOut(0);
    if (!isEditing) {
      submit.fadeIn(200);
      isEditing = true;
      passwordInputField.attr('readonly', false);
      passwordRepeatedInputField.attr('readonly', false);
      //userName.attr('readonly', false);
      firstName.attr('readonly', false);
      lastName.attr('readonly', false);

      if (callerIsAdminValue.text() === "true") {
        isAdmin.attr('disabled', false);
        role.attr('readonly', false);
      }

      edit.text("Cancel");

      passwordStrengthBarContainer.fadeIn(200);
      listOfMissingPasswordCharacteristics.fadeOut(0);
      missingForHigherPasswordStrength.fadeOut(0);
      passwordCharacteristicsText.fadeOut(0);
    } else {
      submit.fadeOut(20);
      isEditing = false;
      passwordInputField.attr('readonly', true);
      passwordRepeatedInputField.attr('readonly', true);
      //userName.attr('readonly', true);
      firstName.attr('readonly', true);
      lastName.attr('readonly', true);
      edit.text("Edit");

      if (callerIsAdminValue.text() === "true") {
        isAdmin.attr('disabled', true);
        role.attr('readonly', true);
      }


      passwordStrengthBarContainer.fadeOut(0);
    }
  }

  let passwordVisible = false;
  let repeatedPasswordVisible = false;

  // Show or hide the password. Is called 'onclick' and thus only changes whenever the user clicks on the button.
  // The icon is determined by '#passwordButtonIcon' and as a result we have to change the used class to determine
  // what the icon should look like. 'bi-eye-slash' is a closed eye and represents that the password is not shown
  // in text, whereas 'bi-eye' means just that.
  function showOrHidePassword(passwordInputFieldToHide) {
    // We check whether the click happened on the button related to the password-input or the repeated-password-input
    if (passwordInputFieldToHide === "password") {
      if (passwordVisible) {
        passwordVisible = false;
        passwordInputField.attr("type", "password");
        passwordInputField.attr("type", "password");
        $('#passwordButtonIcon').removeClass('bi-eye').addClass('bi-eye-slash');
      } else {
        passwordInputField.attr("type", "text");
        passwordInputField.attr("type", "text");
        $('#passwordButtonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
        passwordVisible = true;
      }
    } else {
      // We do the same thing for the repeated password:
      if (repeatedPasswordVisible) {
        repeatedPasswordVisible = false;
        passwordRepeatedInputField.attr("type", "password");
        passwordRepeatedInputField.attr("type", "password");
        $('#repeatedPasswordButtonIcon').removeClass('bi-eye').addClass('bi-eye-slash');
      } else {
        passwordRepeatedInputField.attr("type", "text");
        passwordRepeatedInputField.attr("type", "text");
        $('#repeatedPasswordButtonIcon').removeClass('bi-eye-slash').addClass('bi-eye');
        repeatedPasswordVisible = true;
      }
    }
  }

  // Alerts:
  // Get all alerts
  let userNameExistsAlert = $('#userNameExistentAlert');
  let roleAlreadyExistentAlert = $('#roleAlreadyExistentAlert');
  let passwordsDontMatchAlert = $('#passwordsDontMatchAlert');
  let noRoleSelectedAlert = $('#noRoleSelectedAlert');


  // When the page is loaded, some elements have to be fadedOut as they should not be displayed from the start.
  window.onload = function() {
    listOfMissingPasswordCharacteristics.fadeOut(0);
    missingForHigherPasswordStrength.fadeOut(0);
    // errorMessage.fadeOut(0);
    userNameExistsAlert.fadeOut(0);
    noRoleSelectedAlert.fadeOut(0);
    roleAlreadyExistentAlert.fadeOut(0);
    passwordsDontMatchAlert.fadeOut(0);
    passwordCharacteristicsText.fadeOut(0);
    passwordStrengthBarContainer.fadeOut(0);
    submit.fadeOut(0);
  };
</script>
</html>